.container {
  padding-top: 25px;
  width: 100vw;
  background-color: #16181e;
  bottom: 0;
  left: 0;
  display: flex;
  position: relative;

  flex-direction: row;
  justify-content: center;
}

.logo {
  margin-left: 50px;
  height: 25px;
  width: 25px;
  align-self: center;
  scale: 1.5;
}

.text {
  align-self: center;
  scale: 1.5;
}
